html,
body {
  height: 100%;
  width: 100%;
  background-color: #222;
}
html h2.primary,
body h2.primary {
  color: #FFEF00;
  margin-top: 0;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #FFEF00;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #FFEF00;
}
a:hover,
a:focus {
  color: #ccbf00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #FFEF00;
}
.bg-dark {
  background-color: #222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 5px 0;
}
aside {
  padding: 50px 0;
}
footer {
  margin: 10px 0 0 0;
  border-top: 1px dotted #FFEF00;
  padding: 10px;
}
footer h5 {
  color: rgba(255, 255, 255, 0.3);
}
footer h5 a {
  color: rgba(255, 239, 0, 0.3);
}
.no-padding {
  padding: 0;
}
.lightlnk {
  text-decoration: none !important;
  color: #FFF;
}
.lightlnk:hover {
  color: #998f00;
}
.navbar-default {
  background-color: rgba(59, 59, 59, 0.9);
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  padding: 10px;
  color: #FFEF00;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #ccbf00;
}
.navbar-default .navbar-header .navbar-brand .underline {
  border-bottom: solid 2px;
  padding-bottom: 1px;
}
.navbar-default .nav ul {
  background-color: rgba(59, 59, 59, 0.6);
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: white;
}
.navbar-default .nav > li > a .fa,
.navbar-default .nav > li > a:focus .fa {
  font-size: 20px;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #FFEF00;
}
.navbar-default .nav > li > a.ff:hover,
.navbar-default .nav > li > a:focus.ff:hover {
  color: #3b5998;
}
.navbar-default .nav > li > a.fi:hover,
.navbar-default .nav > li > a:focus.fi:hover {
  color: #807765;
}
.navbar-default .nav > li > a.ft:hover,
.navbar-default .nav > li > a:focus.ft:hover {
  color: #55ACEE;
}
.navbar-default .nav > li:not(.last) {
  border-bottom: 1px dotted #27271C;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #FFEF00 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: rgba(59, 59, 59, 0.6);
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    font-size: xx-large;
    color: white;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-default .navbar-header .navbar-brand .underline {
    border-bottom: solid 4px;
    padding-bottom: 1px;
  }
  .navbar-default .nav > li {
    border: 0px !important;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: rgba(59, 59, 59, 0.8);
    border-color: rgba(255, 255, 255, 0.6);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #FFEF00;
    font-size: 18px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #ccbf00;
  }
  .navbar-default.affix .nav li {
    border-bottom: 0px;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #FFEF00;
  }
}
header {
  box-shadow: 0 10px 30px rgba(255, 239, 0, 0.2);
  height: 40%;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100%;
}
header .header-content .header-content-inner .fa {
  font-size: 50px;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 60% ;
  }
  header .header-content {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.contact .fa {
  color: #222;
}
.contact .fa.fa-linkedin-square:hover {
  color: #007bb5;
}
.contact .fa.fa-facebook-square:hover {
  color: #3b5998;
}
.contact .fa.fa-github-square:hover {
  color: #800080;
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.band-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.band-box .band-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(255, 239, 0, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.band-box .band-box-caption .band-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.band-box .band-box-caption .band-box-caption-content .project-category,
.band-box .band-box-caption .band-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.band-box .band-box-caption .band-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.band-box .band-box-caption .band-box-caption-content .project-name {
  font-size: 18px;
}
.band-box:hover .band-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .band-box .band-box-caption .band-box-caption-content .project-category {
    font-size: 16px;
  }
  .band-box .band-box-caption .band-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #FFEF00;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222;
}
.btn-primary {
  color: white;
  background-color: #FFEF00;
  border-color: #FFEF00;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #e6d700;
  border-color: #dbce00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FFEF00;
  border-color: #FFEF00;
}
.btn-primary .badge {
  color: #FFEF00;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222;
}
.vidHome div {
  margin-top: 10px;
}
.vidHome .twtr {
  padding-left: 15px;
  padding-right: 15px;
  height: 480px;
}
.vidHome .twtr #twitter-widget-0 {
  width: 100% !important;
  height: 100% !important;
}
.vidHome .vidContainer {
  width: 100%;
  margin: auto 0;
  display: inline-block;
  position: relative;
}
.vidHome .vidContainer:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.vidHome .vidContainer .vidMain {
  position: absolute;
  width: 100%;
  height: 100%;
}
.allAlbums {
  margin: 60px 20px 10px 20px;
}
.allAlbums .album {
  padding: 0px 8px 16px 8px;
}
.allAlbums .album .imgContainer {
  position: relative;
}
.allAlbums .album .imgContainer:hover .underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #FFEF00;
  opacity: 0.3;
}
.allAlbums .album .imgContainer .overlay {
  text-align: center;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0;
}
.allAlbums .album .imgContainer .overlay h2 {
  position: absolute;
  font-size: 2em;
  top: 25%;
  left: 25%;
  right: 25%;
  color: black;
  font-weight: bolder;
}
.allAlbums .album .imgContainer .overlay.overlayBottom {
  top: 50%;
}
.allAlbums .album .imgContainer .overlay:hover {
  background-color: #FFEF00;
  opacity: 0.4;
}
.allAlbums .album .imgContainer .albumImg {
  width: 100%;
}
