 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Hi, My name is Conor Keenan. I'm a 4th year computing student in the National College of Ireland.
                        For my Degree i'm specializing in Web and Mobile Technologies but <U>LOVE</U> all things tech related!
                        <br /> 
                        I built this website using the Django Python framework and Bootstrap for styling. Not going to lie but i did use a template to create some of the visual aspects, no need to recreating the wheel.
                        <br />
                        I hope you can get all the information you need from my site and i've attached my CV incase you'd like to have a look.
                        If you have any question please feel free to <a class="lightlnk page-scroll" href="#contact">contact me</a>. 
                    </p>
                    <a href="#" class="btn btn-default btn-xl">My CV</a>
                </div>
            </div>
        </div>
    </section>