{% load staticfiles %}
<section class="no-padding" id="band">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/1.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/2.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/3.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/4.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/5.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="band-box">
                        <img src="{% static 'band/img/band/6.jpg' %}" class="img-responsive" alt="">
                        <div class="band-box-caption">
                            <div class="band-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
