<section id="vidHome" class="bg-dark vidHome">
        <div class="container">
            <div class="row">
            <center>
            <h2 class="primary">Latest News</h2>
            <hr class="primary">
            </center>
               <div class="col col-md-3 twtr">
                   <a class="twitter-timeline" href="https://twitter.com/BrassPhantoms" data-widget-id="738097437722742785">Tweets by @BrassPhantoms</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
               </div>

               <div class="col col-md-9 ">
                 <div class="vidContainer">
                   <iframe class="vidMain" src="https://www.youtube.com/embed/{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                </div>
               </div>
            </div>
        </div>
    </section>


